.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 74px;
  padding-bottom: 70px;
}

.profile__title {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.profile__form {
  width: 410px;
  margin-top: 123px;
}

.profile__input-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}


.profile__input-box:last-of-type {
  padding-bottom: 0;
  border-bottom: none;
  margin-bottom: 0;
}

.profile__label {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
}

.profile__input {
  width: 80%;
  border: none;
  text-align: right;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
}

.profile__input:focus {
  outline: 1px solid #000000;
  border-radius: 3px;
}

.profile__error {
  display: block;
  min-height: 12px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #FFFFFF;
  text-align: right;
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(232, 232, 232, 1);
  transition: color 0.3s linear;
}

.profile__error_active {
  color: #FF4062
}

.profile__error:last-of-type {
  margin-bottom: 0px;
}

.profile__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-top: 220px;
}

.profile__btn {
  border: none;
  background-color: transparent;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 13px;
  line-height: 16px;
  padding: 0;
}

.profile__btn:hover {
  opacity: 0.6;
}

.profile__btn_edit {
  font-weight: 400;
  color: #A0A0A0;
  cursor: not-allowed;
}

.profile__btn_active {
  color: #000000;
  cursor: pointer;
  font-weight: 500;
}

.profile__signout {
  font-weight: 500;
  color: #FF4062;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .profile__container {
    padding-top: 236px;
    padding-bottom: 269px;
  }

  .profile__form {
    margin-top: 96px;
  }
}

@media screen and (max-width: 526px) {
  .profile__container {
    padding-top: 70px;
    padding-bottom: 40px;
    justify-content: space-between;
  }

  .profile__form {
    width: 81%;
    margin-top: 80px;
  }

  .profile__links {
    margin-top: 379px;
  }
  

  .profile__btn {
    font-size: 12px;
    line-height: 15px;
  }
}

