.portfolio {
  padding: 0 70px 125px 70px;
}

.portfolio__title {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #A0A0A0;
  mix-blend-mode: normal;
  margin: 0 0 50px 0;
}

.portfolio__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.portfolio__item {
  padding-bottom: 19px;
  border-bottom: 1px solid #E8E8E8;
}

.portfolio__item:last-of-type {
  padding-bottom: 0;
  border-bottom: none;
}

.portfolio__link {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: -0.04em;
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  display: block;
}

.portfolio__link:hover {
  opacity: 0.6;
}

.portfolio__link::after {
  content: '↗';
  position: absolute;
  right: 0;
}

@media screen and (max-width: 768px) {
  .portfolio {
    padding: 0 50px 90px 50px;
  }

  .portfolio__link {
    font-size: 28px;
  }
}

@media screen and (max-width: 525px) {
  .portfolio {
    padding: 0 14px 70px 14px;
  }

  .portfolio__title {
    font-size: 14px;
    margin: 0 0 40px 0;
  }

  .portfolio__link {
    font-size: 18px;
    line-height: 28px;
  }
}