.promo {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F3C1F8;
  background-image: url(../../images/promo.svg);
  background-position: center;
  background-repeat: no-repeat;
  box-sizing: border-box;
}

.promo__title {
  max-width: 730px;
  margin: 0;
  padding: 0;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  text-align: center;
  letter-spacing: -0.04em;
}

@media screen and (max-width: 426px) {
  .promo {
    background-size: 248px auto;
  }

  .promo__title {
    font-size: 31px;
    line-height: 39px;
  }
}
