.navigation {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.navigation__auth {
  display: flex;
  margin-left: auto;
}

.navigation__link {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #000000;
  margin-right: 30px;
  text-decoration: none;
  align-self: center;
  cursor: pointer;
}

.navigation__link:last-of-type {
  margin-right: 0;
}

.navigation__link:hover {
  opacity: 0.6;
}

.navigation__link_movies {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  margin-right: 16px;
}

.navigation__link_active {
  font-weight: 500;
  text-decoration: underline;
}

.navigation__button {
  padding: 8px 20px;
  background-color: #000000;
  border-radius: 3px;
  border-style: none;
  color: #FFFFFF;
  font-family: 'Inter', Arial, Helvetica, sans-serif;;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  cursor: pointer;
  text-align: center;
}

.navigation__button:hover {
  opacity: 0.6;
}

.navigation__button_profile {
  background-color: #F9F9F9;;
  border-radius: 20px;
  color: #000000;
  font-size: 14px;
}

.navigation__movies {
  display: flex;
  margin-left: 44px;
}

.navigation__burger-btn {
  display: none;
}

.navigation__burger-layer {
  width: 28px;
  height: 3px;
  background: #000000;
  margin-bottom: 7px;
  position: relative;
  transition: 0.4s ease;
}

.navigation__burger-layer:last-of-type {
  margin-bottom: 0;
}

.navigation__burger-btn_transformed {
  z-index: 2;
}

.navigation__burger-btn_transformed .navigation__burger-layer:nth-of-type(2) {
  opacity: 0; 
  margin-bottom: 0;
}

.navigation__burger-btn_transformed .navigation__burger-layer:nth-of-type(1) {
  transform: rotate(45deg) scale(1.1);
  margin-bottom: 0;
  top: 6px;
}

.navigation__burger-btn_transformed .navigation__burger-layer:nth-of-type(3) {
  transform: rotate(-45deg) scale(1.1);
}

.navigation__background {
  display: none;
  width: 100vh;
  height: 100vh;
  background-color: #000000;
  justify-content: end;
  align-items: center;
  position: fixed;
  z-index: 1;
  opacity: 0.3;
  top: 0;
  left: 0;
  transition: all 0.5s linear;
}

.navigation__background_opened {
  display: flex;
}

.navigation__menu {
  position: absolute;
  display: flex;
  width: 520px;
  height: 100%;
  background-color: #FFFFFF;
  right: -100%;
  transition: all 1s linear;
}

.navigation__menu_opened {
  right: 0;
}

@media screen and (max-width: 768px) {
   .navigation__movies {
    display: none;
  }

  .navigation__button_profile {
    display: none;
  }

  .navigation__burger-btn {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 320px) {
  .navigation__link {
    font-size: 10px;
    margin-right: 14px;
  }

  .navigation__button {
    padding: 5px 12px;
    font-size: 10px;
  }

  .navigation__burger-layer {
    width: 22px;
    height: 2.5px;
    margin-bottom: 6.5px;
    transition: 0.4s ease;
  }

  .navigation__burger-btn_transformed .navigation__burger-layer:nth-of-type(1) {
    transform: rotate(45deg) scale(1.1);
    margin-bottom: 0;
    top: 4.35px;
  }
}