.header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 18px 70px;
  box-sizing: border-box;
}

.header_pink {
  background-color: #F3C1F8;
}

.header__logo {
  background-color: transparent;
  cursor: pointer;
}

.header__logo:hover {
  opacity: 0.6;
}

@media screen and (max-width: 768px) {
  .header {
    padding: 18px 30px;
  }
}

@media screen and (max-width: 426px) {
  .header {
    padding: 18px 14px;
  }
}