.login {
  height: 100vh;
  display: flex;
  flex-direction: column;
  width: 396px;
  margin: 0 auto;
  padding-top: 70px;
  padding-bottom: 70px;
  box-sizing: border-box;
}

.login__header {
  width: 100%;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.login__logo {
  cursor: pointer;
}


.login__logo:hover {
  opacity: 0.6;
}

.login__title {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin: 0;
  padding: 0;
}

.login__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.login__label {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #A0A0A0;
  margin-bottom: 10px;
}

.login__input {
  width: 100%;
  background: #F9F9F9;
  border-radius: 8px;
  border: none;
  padding: 15px;
  margin-bottom: 10px;
  box-sizing: border-box;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
}

.login__input:focus {
  outline: 1px solid #000000;
  border-radius: 3px;
}

.login__input_error {
  color: #FF4062;
}

.login__error {
  display: block;
  min-height: 12px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #FF4062;
  margin-bottom: 15px;
  opacity: 0;
  transition: opacity 0.3s linear;
}

.login__error_active {
  opacity: 1;
}


.login__error:last-of-type {
  margin-bottom: 157px;
}

.login__btn {
  height: 45px;
  width: 100%;
  background: #000000;
  border-radius: 3px;
  border-style: none;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
}

.login__btn:hover {
  opacity: 0.6;
}

.login__btn_inactive {
  opacity: 0.2;
  cursor: not-allowed;
}

.login__container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.login__caption {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #A0A0A0;
  margin: 0;
  padding: 0;
}

.login__signin-link {
  color: #000000;
  text-decoration: none;
  margin: 0 0 0 6px;
  padding: 0;
  cursor: pointer;
}

.login__signin-link:hover {
  opacity: 0.6;
}

@media screen and (max-width: 768px) {
  .login {
    padding-top: 232px;
    padding-bottom: 232px;
  }
}

@media screen and (max-width: 426px) {
  .login {
    width: 81%;
    padding-top: 56px;
    padding-bottom: 30px;
  }

  .login__header {
    margin-bottom: 80px;
    gap: 50px;
    align-items: center;
  }

  .login__input {
    font-weight: 400;
  }

  .login__error:last-of-type {
    margin-bottom: 245px;
  }

  .login__btn {
    font-size: 12px;
    line-height: 15px;
  }

  .login__caption {
    font-size: 12px;
    line-height: 15px;
  }
}
